:root {
  --header1: linear-gradient(20deg, rgb(30, 30, 252), rgb(104, 216, 147));
  --header2: linear-gradient(100deg, rgb(0, 0, 158), rgb(51, 111, 207));
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(54, 54, 54);
  background-size: cover;
  height: 100vh;
  font-size: 62.5%;
  color: white;
}

header {
  background: var(--header1);
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1rem;
}

.card {
  margin: .1rem;
  border: 2px solid black;
  border-radius: 6px;
}

.row {
  --bs-gutter-x: 0;
}

.card-header {
  background: var(--header2);

}

h2 {
  padding-top: 1.5rem;
  text-align: center;
}

input, button {
  margin: .5rem;
  width: 90%;
}

.search-history {
  color: gray;
}

h3 {
  text-align: center;
  padding-top: 3rem;
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  .row {
    justify-content: center;
  }
}
